{% extends 'base.html.twig' %}
{% block title %}
| browse
{% endblock %}
{% block body %}
    <table border=1><tr><th style= "background-color: #FFC000;">Firma</th><th style= "background-color: #FFC000;">Telefon</th>
    {% for phone in phones %}
        <tr>
        {% if phone.id%2==0 %}
            <td style= "background-color: white;"> 
                <a href="{{ path('show_phones', {id: phone.id }) }}">
                    {{ phone.company }}
                </a>
            </td>
            <td style= "background-color: white;">
            <strong><a href="{{ path('show_phones', {id: phone.id }) }}">
                        {{ phone.number }}
                    </a></strong>
            </td></tr>
        {% else %}
            <td style= "background-color: #FFF2CC;"> {{ phone.company }}</td>
            <td style= "background-color: #FFF2CC;"><strong> {{ phone.number }}</strong></td></tr>
           
        {% endif %}           
    {% endfor %}
    </table>
 {% endblock %}