{% extends 'base.html.twig' %}
{% block title %}
| browse
{% endblock %}
{% block body %}
    <table border=1><tr><th>Firma</th><th>Telefon</th>
    {% for phone in phones %}
        <tr>
        {% if phone.id%2==0 %}
            <td class="white"> 
                <a href="{{ path('show_phones', {id: phone.id }) }}">
                    {{ phone.company }}
                </a>
            </td>
            <td class="white"> 
            <strong><a href="{{ path('show_phones', {id: phone.id }) }}">
                        {{ phone.number }}
                    </a></strong>
            </td></tr>
        {% else %}
            <td class="yellow">  {{ phone.company }}</td>
            <td class="yellow"> <strong> {{ phone.number }}</strong></td></tr>
           
        {% endif %}           
    {% endfor %}
    </table>
 {% endblock %}