{% extends 'base.html.twig' %}
{% block title %}
| show {{phone.id}}
{% endblock %}
{% block body %}
 <h3>Firma: {{ phone.company }}</h3>
 <h4 style="margin-left: 100px">nr: {{ phone.number }}</h4>
 {#}
 <a href="{{ path('del_phones', {id: phone.id }) }}">Usuń dane</a><br>
 <a href="{{ path('browse_phones', {id: phone.id }) }}">Zmień dane</a><br>
 #}
{% endblock %}