{% extends 'base.html.twig' %}
{% block title %}
| browse
{% endblock %}
{% block body %}
    <div class="content">
        Znaleziono <b> {{ contacts|length }} </b> kontaktów.<br><br>
        Aby uzyskać bardziej szczegółowe informacje kliknij wybraną pozycję
    </div>    
    {% for key, contact in contacts %}
        {% if key is odd %}
            <div class="gray"> 
        {% else %}
            <div class="white">
        {% endif %}  
        <a href="{{ path('show_contact', {id: contact.id }) }}">
            <strong> {{ contact.id }} </strong><strong> {{ contact.company }} </strong> {{ contact.firstName }}  {{ contact.lastName }}
        </a></div><br>
    {% endfor %}

    {% if previous >= 0 %}
        <button style="margin-left: 70px;"><a href="{{ path('browse_contact', { id: contacts|last.id, offset: previous, how: paginator_per_page }) }}">Wstecz</a></button>
    {% endif %}
    <span style="margin-left: 100px;"><b>Strona {{ (next/paginator_per_page)|round(0, 'ceil') }}
                    z {{ (contacts|length/paginator_per_page)|round(0,'ceil') }}</b></span>
    {% if next < contacts|length %}
        <button style="margin-left: 150px;"><a href="{{ path('browse_contact', { id: contacts|last.id, offset: next, how: paginator_per_page }) }}">Dalej</a></button>
    {% endif %}

    <br>Podaj ilość danych na stronę:
    {{ form(form) }}
    <div class="content">
        <a href="{{ path('app_export')}}">Klikij aby wyeksportować dane do pliku csv. </a><br>
        <a href="{{ path('app_export_to_excel')}}">lub klikij aby wyeksportować dane do pliku Excela. </a><br>
    </div>
 {% endblock %}