{% extends 'base.html.twig' %}
{% block title %}
| browse
{% endblock %}
{% block body %}
    <div class="content">
        Aby uzyskać bardziej szczegółowe informacje kliknij wybraną pozycję
    </div>    
    {% for key, contact in contacts %}
        {% if key is odd %}
            <div class="gray"> 
        {% else %}
            <div class="white">
        {% endif %}  
        <a href="{{ path('show_contact', {id: contact.id }) }}">
            <strong> {{ contact.company }} </strong> {{ contact.firstName }}  {{ contact.lastName }}
        </a></div><br>  
    {% endfor %}
    <div class="content">
        <a href="{{ path('app_export')}}">Klikij aby wyeksportować dane do pliku csv. </a><br>
    </div>
 {% endblock %}