{% extends 'base.html.twig' %}
{% block title %}
| show {{contact.id}}
{% endblock %}
{% block body %}
 <h2>Oto szczegółowe informacje o wybranym kontakcie:</h2>
 <h3>Firma: {{ contact.company }}</h3>
 <h4>Imię: {{contact.firstname}} Nazwisko: {{contact.lastname}}</h4>
    <h4>Nr telefonu:
        <ul>
        {% if contact.phones is empty %}
            <i>Nie zdefiniowano !</i>
        {% else %}
            {% for phone in contact.phones %}
              <li>{{ phone.typePhone }} {{ phone.number }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </h4>
 <h4>Wpis utworzono: {{createdat}}</h4>
 <div class="content">
        <a href="{{ path('del_contact', {id: contact.id }) }}">Klikij aby usunąc te dane. </a><br>
        <a href="{{ path('edit_contact', {id: contact.id }) }}">Kliknij aby edytować dane</a><br>
     <br><a href="{{ path('browse_contact') }}">Kliknij aby powrócić do przeglądania danych.</a><br>
</div> 
{% endblock %}
