{# templates/example/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h2>Wypełnij dane:</h2>
{#}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    {#}
    {{ form(form) }}

    <a href="{{ path('home_page') }}">Wróć na stronę główną.</a>
    <a href="{{ path('browse_phones') }}">Zobacz wszystkie kontakty</a>

    
{% endblock %}