{# templates/search/results.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wyniki wyszukiwania</h1>

    {% if results is empty %}
        <p>Brak wyników dla zapytania.</p>
    {% else %}
        <ul>
            {% for phone in results %}
                <li>{{ phone.id }} {{ phone.company }} {{ phone.number }}

                {# Dodaj tutaj inne informacje o produkcie, które chcesz wyświetlić #}
            {% endfor %}
        </ul>
    {% endif %}
    
    <a href="{{ path('search_page') }}">Wróć do formularza wyszukiwania.</a><br>
    <a href="{{ path('home_page') }}">Wróć na stronę główną.</a>
{% endblock %}
