{# templates/search/results.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h2>Wyniki wyszukiwania</h2>


    {% if contacts is empty %}
        <p>Brak wyników dla zapytania.</p>
    {% else %}
        <ul>
     {#        <li>{{ phone.company }} {{ phone.firstname }} {{ phone.lastname }} {{ phone.number }} </li>#}

            {% for contact in contacts %}
                <li>{{ contact.company }} {{ contact.first_name }} {{ contact.last_name }} {{ contact.id }} </li>

            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
