{# templates/search/results.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h2>Wyniki wyszukiwania frazy: {{ query }}</h2>


    {% if contacts is empty %}
        <p>Brak wyników dla szukanego wyrażenia.</p>
    {% else %}
        <ul>
            {% for contact in contacts %}
            <a href="{{ path('show_contact', {id: contact.id }) }}">
                <li>{{ contact.company }} {{ contact.first_name }} {{ contact.last_name }}
                    {{ contact.number }} {{ contact.type_phone }}</li>
            </a>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="content">
        Aby uzyskać bardziej szczegółowe informacje kliknij wybraną pozycję
    </div>
{% endblock %}
