<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Phonebook {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/styles/style.css" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <h1>Książka telefoniczna
        <div id="menu">
            <a href="{{ path('home') }}"><img src="/images/home.png" alt="Strona główna"></a>
            <a href="{{ path('browse_contact') }}"><img src="/images/browse.png" alt="Zobacz wpisy"></a>
            <a href="{{ path('add_contact') }}"><img src="/images/add.png" alt="Dodaj kontakt"></a>
            <a href="{{ path('search_contact') }}"><img src="/images/search.png" alt="Szukaj"></a>
        </div>
    </h1>

            {% for message in app.flashes('success') %}
                    <div class="alert-success">
                        {{ message }}
                    </div>
            {% endfor %}

        {% block body %}
        <div class="content">
        Mam przyjemność zaprezentować Państwu prostą książkę telefoniczną opierającą się na bazie danych.<br>
            <img src="/images/book.jpg" width="300" style="float: right; padding: 0 100px 0 0;"><br>
        Aby zobaczyć jakie dane występują obecnie w bazie 
            <a href="{{ path('browse_contact') }}"><strong>kliknij tutaj</strong></a>.
        <br><br>
        Ewentualnie     
        <a href="{{ path('add_contact') }}"><strong>dodaj nowy kontakt do bazy</strong></a>
        </div>
        {% endblock %}
    </body>
</html>
